.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    font-size: 2rem;
    color: #777;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 26rem;

    .input {
      margin-bottom: 1.5rem;
    }
  }
}
