.container {
  background-color: #032535;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.3rem 0rem;

  .logo {
    margin-left: auto;
    position: relative;
    left: 6rem;

    img {
      height: 4rem;
    }
  }

  .adminLink {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin-left: auto;
    position: relative;
    right: 3rem;
    font-weight: 700;
  }
}
